#title {
  height: 70px;
  border-bottom: 1px solid black;
  position: relative;
  margin-bottom: 10px;
  background: #f9f9f9;
  width: 100%;

  .content {
    margin-left: 75px;
    .small {
      font-size: 14px;
      color: gray;
    }
  }
  img {
    height: 80%;
    left: 10px;
    top: 5px;
    position: absolute;
  }
}

#list {
  width: 100%;
  .list-view {
    width: 100%;

    .item-container {
      height: 100px;
      border: 1px solid;
      margin: 0 10px 10px;
      .first-container {
        width: 57%;
        @media screen and (max-width: 768px) {
          display: flex;
          width: 100%;
          padding-top: 10px;
        }
      }
      .second-container {
        width: 43%;
        @media screen and (max-width: 768px) {
          display: flex;
          width: 100%;
        }
      }
      .item-wrapper {
        height: 60px;
        img {
          width: 55px;
        }
        .color-green {
          color: rgb(115, 219, 158);
        }
        .color-red {
          color: #e63534;
          font-weight: bold;
          position: relative;
          img {
            position: absolute;
            left: -37px;
            height: 85%;
            top: 5px;
          }
        }
      }
      label {
        display: block;
      }
      .small {
        font-size: 14px;
        color: gray;
      }
      .link {
        cursor: pointer;
        text-decoration: underline;
        color: blue;
      }
      .btn {
        background: #e46464;
        color: #fff;
        height: 30px;
        width: 75px;
        border-radius: 7px;
        margin-right: 5px;
      }
      @media screen and (max-width: 768px) {
        display: block;
        height: 125px;
      }
    }
    .result-list {
      @media screen and (max-width: 996px) {
        height: 100%;
      }
    }
    .splitted-item {
      background: #f1f1f1;
    }
    .margin-bottom-none {
      margin: 0 10px;
    }
    .hide-bottom {
      border-bottom: none;
    }
    .dotted-border-top {
      border-top: 2px dotted gray;
    }
    .solid-border-top {
      border-top: 1px solid black;
    }
    .last-item {
      border-bottom: 1px solid black;
      border-top: 2px dotted gray;
    }
    .layover-wrapper {
      position: relative;

      label {
        padding: 0 15px;
        z-index: 9;
        position: absolute;
        background: white;
        border: 2px dotted gray;
        top: -10px;
      }
    }
  }
  .half-width {
    width: 50%;
    @media screen and (max-width: 996px) {
      width: 100%;
    }
  }
  @media screen and (max-width: 996px) {
    display: block;
  }
}
