body {
  button {
    cursor: pointer;
    border: none;
    &:focus {
      outline: none;
    }
  }

  input {
    padding: 0 10px;
  }
  select {
    border: 1px solid black;
    &:focus {
      outline: none;
    }
  }
}
.error {
  color: red;
  font-size: 10px;
  margin: 0 10px;
}
